:root {
  --main-introducion: #2f303a;
  --web-color: #2196f3;
  --span-color: #757575;
  --body-color: #212121;
  --contact-color: #d94f4f;

  --button-bgc: #2196f3;
  --button-color: #ffffff;
}

* {
  text-decoration: none;
  list-style-type: none;
}
.hero-navigation li a {
  color: var(--body-color);
}
.hero-navigation li:hover a:hover {
  color: var(--web-color);
}

.button-text-filter li button {
  cursor: pointer;
  line-height: 1.625;
  font-size: 16px;
  font-weight: 500;
}
.button-text-index {
  cursor: pointer;
  line-height: 1.875;
  font-size: 16px;
  font-weight: 700;
  color: var(--button-color);
  background-color: var(--web-color);
}

button:hover {
  background-color: var(--button-bgc);
  color: var(--button-color);
}
button:focus {
  background-color: var(--button-bgc);
  color: var(--button-color);
}

.hero-navigation li a:hover {
  color: var(--web-color);
}
.hero-navigation li a:focus {
  color: var(--web-color);
  font-weight: 500;
}
.hero-contact li a {
  color: var(--span-color);
}
.hero-contact-email:hover {
  font-weight: 500;
  color: var(--web-color);
}
.hero-contact-email:focus {
  font-weight: 500;
  color: var(--web-color);
}
body {
  font-family: 'Roboto', sans-serif;
  color: var(--body-color);
}
h1 {
}

h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.284;
}
h3 {
  line-height: 1.142;
  font-size: 16px;
  font-weight: 700;
}
h4 {
  line-height: 1.187;
  font-size: 16px;
  font-weight: 500;
}
p {
  font-size: 14px;
  font-weight: 400;
}
.main-introduction {
  background-color: var(--main-introducion);
}

.footer {
  background-color: var(--main-introducion);
}

.h1-introduction {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.363;
  color: var(--button-color);
}
span {
  line-height: 1.875;
  color: var(--span-color);
  font-size: 16px;
  font-weight: 400;
}
.web {
  color: var(--web-color);
  font-size: 26px;
  font-family: 'Raleway', sans-serif;
}
.direccion {
  font-size: 14px;
  color: var(--button-color);
}
.direccion-opacidad {
  opacity: 60%;
}
.web li a {
  font-size: 14px;
  line-height: 1.172;
}
.section-title {
  display: none;
}
/*
.img-dedicamos li img {
  width: 373.16px;
  height: 323.7px;
}
.img-equipo li img {
  width: 270px;
  height: 260px;
}
.img-portafolio li img {
  width: 370px;
  height: 294px;
}
*/
